@{
    ViewBag.Title = "Home Page";
}
@using MoneyChanger.Models

<h2>Money Changer ATM</h2>

@if (ViewBag.ChangeList == null)
{
    <p>Enter a value in the box below to claculate the most optimal amount of change back.</p>
    <form method="post">
        <input type="text" name="moneyIn"/>
        <input type="submit" name="submit" value="submit" />
    </form>
}
else {
    <table>
        <tr>
            <td>Type</td>
            <td>Quantity</td>
        </tr>

        @foreach (var change in (List<Change>)ViewBag.ChangeList)
        {
            <tr>
                <td>@Changer.GetName(change.amount)</td>
                <td>@change.quantity.ToString()</td>
            </tr>
        }
    </table>
}